/* container */
.container{
    height: 20rem;
    padding: 10px;
    display: grid;
    grid-template: 10rem/repeat(2,50%);
    gap: 5px;
}
@media screen and (min-width:850px) {
    .container{
        display: flex;
        flex-direction: row;
    }
}

/* banner */
.banner{
    width: 100%;
    height: 100%;
    background: tan;
    border-radius: 5px;
    border-color: 10px;
}