.container {
  width: 100%;
  height: 100%;
  display: grid !important;
  grid-template: repeat(3, 5rem) / repeat(3, 20rem);
  align-content: center;
  gap: 10px;
  overflow: scroll hidden;
  scrollbar-width: none;
}
@media screen and (min-width:800px) {
  .container {
    display: grid !important;
    grid-template: repeat(3, 5rem) / repeat(3, 25rem);
    align-content: center;
    gap: 10px;
    overflow: scroll hidden;
    scrollbar-width: none;
  }
}

/* box product */
.box {
  width: 20rem;
  height: 5rem;
  border-radius: 10px;
  background: rgb(251, 255, 255);
  border: 1px solid rgb(214, 214, 214);
}
@media screen and (min-width:800px) {
  .box {
    width: 25rem;
  }
}
