@font-face {
  font-family: digikalaRegular;
  src:
    url("./fonts/iranyekan_regular.woff2") format("woff2"),
    url("./fonts/iranyekan_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: digikalaExBlack;
  src: url("./fonts/iranyekan_extrablack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: digikalaBold;
  src: url("./fonts/iranyekan_bold.woff2") format("woff2");
}
@font-face {
  font-family: digikalaThin;
  src: url("./fonts/iranyekan_thin.woff") format("woff");
}
body {
  margin: 0;
  font-family:
    digikalaRegular,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important ;
}

.finalPriceIcredibleList {
  font-family:
    digikalaExBlack,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.listFooter {
  font-family:
    digikalaBold,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.linkInformation,
.linkInformation:visited {
  text-decoration: none;
  color: rgb(0, 166, 181);
}
.textAdminFooter {
  font-family:
    digikalaThin,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.linkTo,.linkTo:visited{
    text-decoration: none;
    color: black;
}
